.dashboard_container {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}

.dashboard_metric_cards {
    display: flex;
    justify-content: space-between;
}

.dashboard .dashboard_income_list {
    display: flex;
    margin-top: 24px;
}

.dashboard .bottom {
    display: flex;
    width: 100%;
    background-color: red;
    box-sizing: border-box;
    height: 100px;
}