h1{
	display: inline;
	float:left;
	margin: auto;
}

p{
	display: inline;
	float:left;
	margin: auto;
	position: relative;
	left: 550px;
	top: 15px;
}

#canvas {
	background-color: #b7b7b7;
	float:left;
	display:inline;
}

#info p {
	position: absolute;
	left: 1030px;
	top: 30px;
	width: 300px;
	height:494px;;
	overflow: scroll;
	text-align: justify;
	padding: 10px;
}