.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  .title {
    margin-bottom: 10px;
    color: rgb(158, 158, 158);
  }

  button {
    margin-right: 10px;
    margin-bottom: 30px;
  }
}

.grid-container {
  display: grid;

  .grid-item {
    width: 20px;
    height: 20px;
    border: 1px double rgb(141, 141, 141);
  }
}

i {
  cursor: pointer;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: stretch;

  .slider_label {
    flex: 2;
  }
  .slider_input {
    cursor: pointer;
    flex: 8;
  }
}
