:root {
    --arrow-size: 10px;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* height: 100%; */
    background-color: #F5F5F5;
}

#app {
    display: flex;
}

.text-warning,
.text-success {
    font-size: 10px;
    color: white;
    padding: 0 10px;
    border-radius: 20px;
}

.text-warning {
    background-color: #FB9678;
}

.text-success {
    background-color: #0BC36E;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;

    border-bottom: var(--arrow-size) solid white;
}