header {
    background-image: url(img/man.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 500px;
    }
}